@import url(https://fonts.googleapis.com/css?family=Lobster);

html,body {
	width: 100%;
	height: 100%;
}
header {
	text-align: center;
	color: white;
}
nav.nav-header {
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: right;
  padding-top: 1%;
  padding-right: 5%;
}
nav a,.nav-bar a{
	color: white;
	padding-right: 2%;
}
/*nav_bar*/

.navbar-default{
  margin: 0;
  position: fixed;
  z-index: 90;
  width: 100%;
}
.navbar-default .navbar-nav > .active > a {
	background-color: rgba(0,0,0,0.6);
}
.navbar-default .navbar-nav > .active > a:hover {
	background-color:  rgba(0,0,0,0.6);
}
.navbar {
	border-radius: 0px;
	background: rgba(0,0,0,0.8);
	border: 1px rgba(0,0,0,0.8);
}

/*end nav_bar*/

nav a:hover{
	color: #3F98D3;
}
a ,a:hover{
	text-decoration: none;
	
}
.nav-bar {
	width: 100%;
	padding: 1%;
	background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 91;
  top: 0px;
}
body{
    margin:0;
    padding:0;
}
.container-fluid {
	width: 100%;
	padding-left: 0px;
}
.item img {
	width: 100%;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	height: 0px;
}

.carousel,.item,.active{
	height:100%;
}
.carousel-inner{
	height:100%;
}

.col-md-12 {
	padding-right: 0px;
}
.contenedor> .mr {
	margin-right: 0px;
	height: 100%;
}
.carousel-caption {
	padding-bottom: 13%;
}
.head-text {
	font-size: 32px;
	font-family: 'Dancing Script', cursive;
}
.navbar-default .navbar-brand {
	color: white;
}
.navbar-default .navbar-nav > li > a {
	color: white;
}
.logo {
	font-family: 'Lobster Two', cursive;
	font-size: 25px;
}

#about {
	background: url('../img/wild_flowers.png');
	width: 100%;
	color: black;
    padding: 4%;
}

.box-gray {
	
	width: 100%;
	height: 100%;
	background: url('../img/old_wall.png');
	padding: 10%;
}
#image{
    width: 78%;
    height: 395px;
    background-position: center;
    float: right;
}

h1 {
	font-family: 'Lobster', cursive;
	color: white;
	font-size: 6em;
	padding-bottom: 4%;
}

h2 {
	font-size: 45px;
	font-family:'Pacifico', cursive;
	padding-bottom: 1%;
}
.block {
	background: gray;
	width: 100%;
  margin: 0 auto;
  margin-bottom: 1%;
  border: 4px solid white;
}
p.name {
	font-family: 'Dancing Script', cursive;
	font-size: 45px;
}
p {
	font-size: 17px;
}
.bg-pentagon {
	width: 100%;
	padding: 2%;
	background: url('../img/swirl_pattern.png');
	padding-top: 3%;
  background-attachment: fixed;
}
.bg-abilities {
	background: #CEE443;
}
.icon {
	margin: 2%;
}
.icon:hover {
    transition: background .6s;
    background-color: black;
    border-radius: 83px;
}
.phrase {
	background: url('../img/paisaje.jpg');
	padding: 1%;
	background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#works {
	background: url('../img/wild_flowers.png');
	width: 100%;
  padding: 4% 15% 4%;
  padding-top: 4%;
  color: black;
}

#contact {
    width: 100%;
    height: 83%;
    background-image: url('../img/last-bg.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.bk {
	color: black;
}
.i-center {
	font-size: 15px;
	width: 30%;
	height: 119px;
}

.lema {
	font-family: 'Dancing Script', cursive;
    font-size: 45px;
    color: white;
}.mac {
	width: 29%;

}
.item .works {
	width: 100%;
	height: 300px;

}
.auto {
	margin: 0 auto;
}
.red {
	color: black;
	padding: 2%;
}
.carousel-control {
    opacity: 0;
}
.box-white {
	background: #E0DADA;
	width: 380px;
    margin: 0 auto;
    padding: 1%;
}
.opacity {
	background: rgba(0,0,0,0.4);
	width: 100%;
	height: 100%;
	padding: 2% 0% 2%;
}
@media screen and (max-width: 480px) {
	  .title {
	  	font-size: 3em;
	  }
    h1 {
    	font-size: 4em;
    }
     h2 {
    	font-size: 31px;
    }
    .head-text {
      font-size: 29px;
    }
    .carousel-caption h2 {
      font-size: 26px;
    }
    .box-white {
    	width: 100%;
    }
    .block {	
    	width: 100%;
    	font-family: 'Lobster Two', cursive;
    	border: 3px solid white;
      font-size: 25px;
      margin-bottom: 23%;
      padding: 3%;
    }
    #works {
    	padding: 8%;
    }
}

@media screen and (min-width: 480px) and (max-width:768px) {
    h1 {
    	font-size: 4em;
    }
    h2 {
    	font-size: 31px;
    }
    .head-text {
      font-size: 29px;
    }
    .carousel-caption h2 {
      font-size: 26px;
    }
    .box-white {
    	width: 100%;
    }
    .block {
    	padding: 3%;
    	font-family: 'Lobster Two', cursive;
    	border: 3px solid white;
      font-size: 25px;
      margin-bottom: 8%;
    }
    #works {
    	padding: 8%;
    }
}
@media screen and(min-width: 768px) and(max-width: 1024px) {
     h1 {
    	font-size: 4em;
    }
    .box-white {
    	width: 100%;
    }
    .block {
    	padding: 3%;
    	font-family: 'Lobster Two', cursive;
    	border: 3px solid white;
      font-size: 25px;
      margin-bottom: 3%;
    }
    #works {
    	padding: 8%;
    }
}




